#card {
    background-color: #ffffff;
    padding: 12px;
    border: 1px solid rgb(159, 162, 244);
    border-radius: 8px;
    width: 250px;
    height: max-content;
    box-shadow: 1px 1px 2px rgb(215, 191, 191);
    display: flex;
    flex-direction: column;
    gap: 0px;




}

#card:hover {
    background-color: #ffffff;
    padding: 12px;
    border: 1px solid rgb(107, 114, 205);
    border-radius: 8px;
    width: 250px;
    height: max-content;
    box-shadow: 1px 1px 2px rgb(215, 191, 191);
    display: flex;
    flex-direction: column;
    gap: 0px;

}




#myimage {
    border-radius: 4px;
}


#mybutton {
    background-color: #695be1;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: .5px solid #5435c3;
    border-radius: 4px;
    width: 100%;
    color: white;

}

#mybutton:hover {
    background-color: #24135a;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: .5px solid #5435c3;
    border-radius: 4px;
    width: 100%;
    color: white;

}